#gelombang {
  padding-top: 1rem;
  background-color: rgb(255, 251, 12);
}
#kalkulator {
  background-color: #d5fa07;
  text-align: center;
  color: #fffafa;
  font-family: Comfortaa Light;
}

#solveLogarithm {
  text-align: center;
  border-radius: 10%;
}
